.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100vw;
}
.App .title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: brown;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  justify-content: center;
}
.inputs{
  display: flex;
  justify-content: space-between;

}
.input , .textinput{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  outline: none;
}
::placeholder{
  text-align: center;
}
.button{
  padding: 10px;
  border: 0;
  background-color: brown;
  color: white;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  cursor: pointer;
}
.content-item{
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #f5f5f5;
  margin: 5px auto;
  padding: 5px;
}
.content-item-list{
  width: 90%;
}
.content-item a {
  text-decoration: none;
  color: blue;
}